[submodule "themes/after-dark"]
	path = themes/after-dark
	url = https://github.com/getzola/after-dark.git
[submodule "themes/papermod"]
	path = themes/papermod
	url = https://github.com/cydave/zola-theme-papermod
[submodule "themes/tabi"]
	path = themes/tabi
	url = https://github.com/welpo/tabi.git
